@import "./header/Header.css";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    min-height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.flexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

