/* header start style */

.header {
    background: white;
    padding: 20px 0;
}

.header .flexWrapper {
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu__item a{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #7572D5;
    transition: 0.3s;
}

.menu__item a:hover {
    color:  red;
}

.burger-menu {
    display: none;
}
/* header end style */