/* main start style */
.main {
    flex: 1 1 auto;
    background-color: white;
}

/* hero start style */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero__flexWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
}

@media screen and (max-width: 800px) {
    .hero .flexWrapper {
        flex-wrap: wrap;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
}

.smallText {
    font-size: 14px;
    font-weight: 400;
}

.name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 15px 0;
}


.mainTitle {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
    color: black;
}

.social {
    display: flex;
    gap: 30px;
}


.hero__mail,
.hero__telegram {
    display: flex;
    gap: 10px;
}

.mail__img,
.telegram__img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.mail__link,
.telegram__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: black;
}


.hero-foto {

}

.hero-foto img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    border-radius: 50%;
    background: transparent;
}

/* hero end style */

/* about me start style */
.about__flexWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.about__img {
    max-width: 400px;
}

.about__description {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
}

.about__img img {
    width: 100%;
    border-radius: 5%;
}

.about__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

.education__title, .english__title {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #7572D5;
}

.education__text, .english__text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 5px;
    color: black;
}


/* about me end style */

/* skills start style */
.skills {
    padding: 150px 0 100px 0;
}


.skills__flexWrapper {
    display: flex;
    flex-wrap: wrap;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 330px;
    padding: 62px 40px 20px;
}

.skills__item--icon {
    position: relative;
}

.skills__item--icon::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    background: rgba(57, 59, 203, 0.1);
    transform: rotate(45deg) translate(-50%, -50%);

    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top left;
}

.skills__item--title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 70px 0 15px;
    text-transform: uppercase;
}

.skills__item--text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}


/* skills end style */


/* works start style */

.works__flexWrapper {
    display: flex;
    flex-direction: column;
}

.tabList {
    display: flex;
    justify-content: space-between;
    max-width: 352px;
    width: 100%;
    margin: 0 auto 40px;
}

.tabList > li > a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.tabList > li > a:hover {
    color: red;
}

.works__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 20px auto;
}


.work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work__img {
    max-width: 540px;
    width: 100%;
}

.work__img img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.work__description {
    padding: 25px 20px;
}

.work__title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.work__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 14px 0 10px;
}

.work__link a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    color: black;
    cursor: pointer;
}

.work__link a:hover {
    color: red;
}

.work__code {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* works end style */

/* contact start style */

.contact {
    padding: 100px 0;
}

.contact__flexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
}

textarea {
    resize: none;
    height: 155px;
}


button {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 170px;
    height: 32px;
    background-color: unset;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: #7572D5;
}

button:hover {
    color: red;
}
/* main end style */